.order-list-and-title-wrapper {
  margin-top: 1rem;
  width: 95%;
  max-height: 21rem;
  display: flex;
  flex-direction: column;
}

.order-list-container {
  display: grid;
  gap: 0.5rem;
  max-height: 15rem;
  overflow-y: scroll;
}

.order-list-button-container {
  height: 4.5rem;
}
