.user-info-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

.user-info-title {
  margin-bottom: 0.5rem;
}

.user-info-container {
  display: grid;
  gap: 3rem 2rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  text-align: center;
  padding: 0 1rem;
  margin-bottom: 1rem;

  .balance {
    grid-column: 1 / 3;
  }
}
